
/* Your CSS Code here. */
section{
	display:flex;
	justify-content:space-evenly;
	flex-wrap:wrap;
}
.item-1{
	background-color:pink;
	width:90px;
	height:90px;
}
.item-2{
	background-color:pink;
	width:90px;
	height:90px;
}
.item-3{
	background-color:pink;
	width:90px;
	height:90px;
}